<h1 [title]="titleComment">Welcome to {{ title }}!</h1>

<h1 title="{{titleComment}}">Welcome to {{ title }}!</h1>   

<h1 [title]="titleComment" (click)="onTitleClicked($event)" >
  Welcome to {{ title }}!
</h1>

<p>{{ hello("World") }}</p>
<p>
  <input type="text" placeholder="Who are you?" [(ngModel)]="greeting" />
</p>
<p>{{ hello(greeting) }}</p>

<p *ngIf="greeting" >{{ hello(greeting) }}</p>

<h1
  [ngClass]="titleClasses"
  [title]="titleComment"
  (click)="onTitleClicked($event)">A
  Welcome to {{ title }}!
</h1>